In [1]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/amueller/introduction_to_ml_with_python/master/data/adult.data",
    header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
'marital-status', 'occupation', 'relationship', 'race', 'gender',
'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
'income']
)

In [2]:
head = ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']
short_data = data[head]
short_data.head()

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K

In [5]:
short_data_dummies = pd.get_dummies(short_data)
short_data_dummies

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,...,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,38,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
32557,40,40,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
32558,58,40,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32559,22,20,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32560,52,40,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
features = short_data_dummies.iloc[:,0:44]
x = features.values
y = short_data_dummies['income_ >50K'].values

(32561, 44) (32561,)

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)
logreg = LogisticRegression(max_iter=9999).fit(x_train, y_train)
logreg.score(x_test, y_test)

0.808991524382754

In [25]:
short_data_temp = data[['age', 'workclass']]
short_data_temp['age'] = short_data_temp['age'].astype(str)
short_data_temp_dummies = pd.get_dummies(short_data_temp)
short_data_temp_dummies

C:\Users\killt\AppData\Local\Temp\ipykernel_8120\677382073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  short_data_temp['age'] = short_data_temp['age'].astype(str)

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,age_90,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
32557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
32558,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
32559,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
32560,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [29]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')

reg = pd.DataFrame({'class': [0,1,5,2,3,3,2],
    'Grade':['first', 'second', 'third', 'first', 'second', 'third', 'first']
})

enc.fit(reg)
enc.categories_

[array([0, 1, 2, 3, 5], dtype=int64),
 array(['first', 'second', 'third'], dtype=object)]

In [37]:
melted = pd.DataFrame(enc.transform(reg).toarray(), columns= enc.get_feature_names_out())
melted

,class_0,class_1,class_2,class_3,class_5,Grade_first,Grade_second,Grade_third
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
6,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0